body{
    background-color: rgb(57, 57, 57);
    background-image: url('./images/Gold\ copy.jpeg');
    background-repeat: repeat-y;
}


.container {
    margin: 25px, auto;
    margin-top: 25px;
    padding: 15px, 15px;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.762);
}

.intro{
    align-content: center;
    justify-content: center;
}
h2{
    font-family: 'Bungee Inline', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 34px;
    text-align: center;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: white;
}

.h3{
    font-family: 'Bungee Inline', sans-serif;
    font-size: 22px;
    color: goldenrod;

}

.label{
    color: white;
    font-size: 12px;
}

.pwdisplay{
    background-color: black;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    height: 100px;
    margin-top: 25px;
}
.password{
    font-family: 'Roboto Slab', serif;
    color: #b78d5a;
    font-size: 28px;
    letter-spacing: 5px;
}

.length{
    align-items: center;
    align-self: center;
    width: 300px;
}


#generate{
    font-family: 'Roboto Slab', serif;
    border: none;
    background-color: #b78d5a;
    color: white;
}
#generate:hover{
    background-color: black;
    color: #b78d5a;
}
label{
    font-family: 'Roboto Slab', serif;
    color:rgb(250, 241, 200);
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .container{
      margin: none;
      text-align: center;
      align-content: center;

    }
    .length{
      width: 100px;
    }

    .intro{
        font-size: 12px;
    }

    p{
        font-size: 12px;
    }
  }